*{
    margin: 0;
    padding: 0;
}

header{
    color: 100#000000;
    width: 100vw;
    height: 120vh;
    background-color: #1e1e1e;
}

img{
    width: 10rem;
    height: 10rem;
}

a{
    text-decoration: none;
    color: #ffffff;
}

/** The landing page style **/

.heading > h1{
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;  
    font-family: "Inter", sans-serif;
    margin-left: 6rem;
    position: relative;
    top: 4rem;
}

.heading{
    background-color: #000000;
    height: 120vh;
    width: 30vw;
    
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: -52rem;
    margin-left: 25.5rem;
    background-color: #d9d9d9;
    width: 60rem;
    height: 10rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links > a{
    color: #000000;
    font-size: 1.2rem;
    margin-left: 5rem;
    text-align: center;
    align-content: center;
    font-family: "Inter", sans-serif;
}

.link-button{
    transition: 0.3s ease-in-out;
}

.dropdown{
    display: none;
}

.description{
    margin-top: 20rem;
    margin-left: 12rem;
}


.sub-description-1 > h2{
    font-size: 2rem;
    font-weight: 100;
    color: #ffffff;
}

.sub-description-2 > h2{
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
}
.sub-description-3{
    margin-top: 1.5rem;
    background-color: #d8d80b;
    width: 27rem;
}

.sub-description-3 > h2{
    color: #000000;
    font-weight: 100;
    text-align: center;
    align-content: center;
}


.description > div > h2{
    
    font-size: 2.5rem;
    font-family: "Inter", sans-serif;
}

/** Section begins **/
 
/** The about section **/
.about{
    background-color: #d9d9d9;
    width: 100vw;
    height: 110vh;
    color: #000000;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.sub-about-1{
    position: relative;
    top: 5rem;
    margin-left: 8rem;
}

.sub-about-1 > img{
    width: 35rem;
    height: 35rem;
}

.sub-about-2{
    position: relative;
    top: 7rem;
}

.sub-about-2-a > p{
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 100;
    font-family: "Inter", sans-serif;
}

.sub-about-2-b > p{
    font-size: 3rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.sub-about-2-b{
    background-color: #d8d80b;
    width: 10rem;
    height: 2rem;
}

.sub-about-2-c{
    width: 35rem;
    margin-top: 2rem;
}

.sub-about-2-c > p{
    font-size: 1.5rem;
    font-weight: 100;
    font-family: "Inter", sans-serif;
}

/** The work section **/
.work{
    background-color: #ffffff;
    width: 100vw;
    height: 265vh;
    color: #000000;
}

.work > div > img{
    width: 8rem;
    height: 8rem;
    position: relative;
    top: 6.5rem;
    left: 47rem;
}

.sub-work-1{
    margin-top: 2rem;
    justify-content: center;
}

.sub-work-1 > div > h2{
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    text-align: center;
}



.sub-work-1 > div > h3{
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-left: 3rem;
    margin-top: -1rem;
}

.sub-work-2{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.sub-work-2 > p{
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.sub-work-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    margin: 3rem;
}

.sub-work-3 > div > img{
    width: 25rem;
    height: 25rem;
}

.sub-work-4{
    justify-content: center;
    margin-top: 2rem;
    margin-left: 36rem;
    background-color: #1e1e1e;
    width: 12rem;
    height: 3rem;
    border-radius: 5rem;
}

.sub-work-4 > button{
    font-size: 1.2rem;
    color: #ffffff;
    background: none;
    margin-top: 1rem;
    margin-left: 2rem;
    border: none;
}

/** The footer begins **/

.line{
    position: relative;
    top: 1rem;
    width: 90vw;
    margin-left: 4rem;
}

.icons > a > img{
    width: 2rem;
    height: 2rem;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2.5rem;
    justify-content: center;
}

.rights > img{
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 1rem;
}

.rights{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rights > p{
    margin-top: 1rem;
    font-family: "Inter", sans-serif;
}

/** mobile view responsiveness **/
@media only screen and (max-width: 600px) {
    body{
        display: inline-block;
    }
    /** heading **/
    header{
        color: 100#000000;
        width: 600px;
        height: 350px;
        background-color: #1e1e1e;
    }

    .heading > h1{
        color: #ffffff;
        font-size: 35px;
        font-weight: bold;  
        font-family: "Inter", sans-serif;
        margin-left: 10px;
        position: relative;
        top: 4rem;
    }

    .heading{
        background: none;
    }

    .nav-links{
        display: none;
    }

    /** the menu button **/
    /**.dropdown{
        position: relative;
        display: inline-block;
    }

    .dropdown-content{
        display: none;
        position: absolute;
        margin-left: -100px;
        margin-top: -1opx;
        background-color: #d9d9d9;
        min-width: 190px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content > a{
        color: #000000;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
        font-weight: 100;
    }

    .dropdown-content > a:hover{
        background-color: gray;
    }

    .dropdown:hover .dropdown-content{
        display: block;
    }

    .dropbtn{
        padding: 16px;
        font-size: 1rem;
        font-weight: 100;
        border: none;
        cursor: pointer;
    }

    .dropbtn > img{
        width: 80px;
        height: 80px;
    }**/

    .description{
        margin-left: 10px;
        margin-top: -700px;
    }

    .sub-description-1 > h2{
        font-size: 30px;
        font-weight: 100;
        color: #ffffff;
    }
    
    .sub-description-2 > h2{
        font-size: 50px;
        font-weight: bold;
        color: #ffffff;
    }
    .sub-description-3{
        margin-top: 20px;
        margin-left: 20px;
        background-color: #d8d80b;
        width: 330px;
    }
    
    .sub-description-3 > h2{
        color: #000000;
        font-weight: 100;
        text-align: center;
        align-content: center;
    }
    
    
    .description > div > h2{
        font-size: 30px;
        font-family: "Inter", sans-serif;
    }

    /** section-1 (about) **/
    .about{
        background-color: #d9d9d9;
        color: #000000;
        display: inline-block;
        width: 600px;
        height: 67rem;
    }

    .sub-about-1 > img{
        width: 350px;
        height: 350px;
    }

    .sub-about-1{
        margin-left: 10px;
        margin-top: -50px;
    }

    .sub-about-2-a,.sub-about-2-b{
        margin-left: 60px;
    }
    
    .sub-about-2-a > p{
        margin-left: 35px;
        font-size: 38px;
        font-weight: 100;
        font-family: "Inter", sans-serif;
    }
    
    .sub-about-2-b > p{
        font-size: 38px;
        font-weight: bold;
        font-family: "Inter", sans-serif;
    }
    
    .sub-about-2-b{
        background-color: #d8d80b;
        width: 140px;
        height: 28px;
    }
    
    .sub-about-2-c{
        width: 350px;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .sub-about-2-c > p{
        font-size: 24px;
        font-weight: 100;
        font-family: "Inter", sans-serif;
    }
    

    /** section-2 (work) **/
    .work{
        background-color: #ffffff;
        width: 600px;
        height: auto;
        color: #000000;
    }

    
    .work > div > img{
        width: 8rem;
        height: 8rem;
        margin-left: -500px;
        margin-top: 82rem;
        position: absolute;
    }

    .sub-work-1{
        margin-top: 50px;
        justify-content: center;
    }

    .sub-work-1 > div > h2{
        font-size: 45px;
        font-family: "Inter", sans-serif;
        text-align: center;
    }

    .sub-work-1 > div > h3{
        font-size: 20px;
        font-family: "Inter", sans-serif;
        text-align: center;
        margin-left: 45px;
        margin-top: -15px;
    }

    .sub-work-2{
        margin-top: 70px;
        margin-left: 7px;
        display: flex;
        flex-direction: row;
        gap: 7px;
        justify-content: center;
    }
    
    .sub-work-2 > a{
        color: #000000;
        font-size: 16px;
        font-family: "Inter", sans-serif;
        font-weight: bold;
    }

    .sub-work-3{
        display: inline-block;
        margin-left: 30px;
        margin-top: 10px;
    }

    .sub-work-3 > div{
        margin-top: 10px;
    }
    
    .sub-work-3 > div > img{
        width: 300px;
        height: 300px;
    }
    .sub-work-4{
        justify-content: center;
        margin-top: 25px;
        margin-left: 80px;
        background-color: #1e1e1e;
        width: 12rem;
        height: 3rem;
        border-radius: 5rem;
    }
    
    .sub-work-4 > button{
        font-size: 1.2rem;
        color: #ffffff;
        background: none;
        margin-top: 1rem;
        margin-left: 2rem;
        border: none;
    }

    .line{
       margin-left: 5px;
    }
} 




